<section class="section latest-blog outer-bottom-vs">
    <h3 class="section-title">Latest form Blog</h3>
    <div class="blog-slider-container outer-top-xs">
        <div class="owl-carousel blog-slider custom-carousel">
            <div class="item">
                <div class="blog-post">
                    <div class="blog-post-image">
                        <div class="image">
                            <a href="blog.html">
                                <img src="~/Images/assets/images/blog-post/blog_big_01.jpg"
                                     alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /.blog-post-image -->

                    <div class="blog-post-info text-left">
                        <h3 class="name"><a href="/Products/index"></a></h3>
                        <span class="info">By Jone Doe &nbsp;|&nbsp; 21 March 2016 </span>
                        <p class="text">
                            Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
                            quaerat voluptatem.
                        </p>
                    </div>
                    <!-- /.blog-post-info -->

                </div>
                <!-- /.blog-post -->
            </div>
            <!-- /.item -->

            <div class="item">
                <div class="blog-post">
                    <div class="blog-post-image">
                        <div class="image">
                            <a href="blog.html">
                                <img src="~/Images/assets/images/blog-post/blog_big_02.jpg"
                                     alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /.blog-post-image -->

                    <div class="blog-post-info text-left">
                        <h3 class="name"><a href="/products/index">Dolorem eum fugiat quo voluptas nulla pariatur</a></h3>
                        <span class="info">By Saraha Smith &nbsp;|&nbsp; 21 March 2016 </span>
                        <p class="text">
                            Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
                            quaerat voluptatem.
                        </p>
                    </div>
                    <!-- /.blog-post-info -->

                </div>
                <!-- /.blog-post -->
            </div>
            <!-- /.item -->
            <!-- /.item -->

            <div class="item">
                <div class="blog-post">
                    <div class="blog-post-image">
                        <div class="image">
                            <a href="blog.html">
                                <img src="~/Images/assets/images/blog-post/blog_big_03.jpg"
                                     alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /.blog-post-image -->

                    <div class="blog-post-info text-left">
                        <h3 class="name"><a href="/Products/index">Dolorem eum fugiat quo voluptas nulla pariatur</a></h3>
                        <span class="info">By Saraha Smith &nbsp;|&nbsp; 21 March 2016 </span>
                        <p class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                    </div>
                    <!-- /.blog-post-info -->

                </div>
                <!-- /.blog-post -->
            </div>
            <!-- /.item -->

            <div class="item">
                <div class="blog-post">
                    <div class="blog-post-image">
                        <div class="image">
                            <a href="blog.html">
                                <img src="~/Images/assets/images/blog-post/blog_big_01.jpg"
                                     alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /.blog-post-image -->

                    <div class="blog-post-info text-left">
                        <h3 class="name"><a href="#">Dolorem eum fugiat quo voluptas nulla pariatur</a></h3>
                        <span class="info">By Saraha Smith &nbsp;|&nbsp; 21 March 2016 </span>
                        <p class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                    </div>
                    <!-- /.blog-post-info -->

                </div>
                <!-- /.blog-post -->
            </div>
            <!-- /.item -->

            <div class="item">
                <div class="blog-post">
                    <div class="blog-post-image">
                        <div class="image">
                            <a href="blog.html">
                                <img src="~/Images/assets/images/blog-post/blog_big_02.jpg"
                                     alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /.blog-post-image -->

                    <div class="blog-post-info text-left">
                        <h3 class="name"><a href="#">Dolorem eum fugiat quo voluptas nulla pariatur</a></h3>
                        <span class="info">By Saraha Smith &nbsp;|&nbsp; 21 March 2016 </span>
                        <p class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                    </div>
                    <!-- /.blog-post-info -->

                </div>
                <!-- /.blog-post -->
            </div>
            <!-- /.item -->

        </div>
        <!-- /.owl-carousel -->
    </div>
    <!-- /.blog-slider-container -->
</section>

<div class="clearfix filters-container m-t-10">
    <div class="row">
        <!--<div class="col col-sm-6 col-md-3 col-lg-3 col-xs-6">
            <div class="filter-tabs">
                <ul id="filter-tabs" class="nav nav-tabs nav-tab-box nav-tab-fa-icon">
                    <li class="active">
                        <a data-toggle="tab" href="#grid-container">
                            <i class="icon fa fa-th-large"></i>Grid
                        </a>
                    </li>
                    <li class=""><a data-toggle="tab" href="#list-container"><i class="icon fa fa-bars"></i>List</a></li>
                </ul>
            </div>-->
            <!-- /.filter-tabs -->
        <!--</div>-->
        <!-- /.col -->
        <div class="col col-sm-12 col-md-5 col-lg-5 hidden-sm">
            <div class="col col-sm-6 col-md-6 no-padding">
                <div class="lbl-cnt">
                    <span class="lbl">Sort by</span>
                    <div class="fld inline">
                        <div class="dropdown dropdown-small dropdown-med dropdown-white inline">
                            <button data-toggle="dropdown" type="button" class="btn dropdown-toggle">
                                Position <span class="caret"></span>
                            </button>
                            <ul role="menu" class="dropdown-menu">
                                <li role="presentation"><a href="#">position</a></li>
                                <li role="presentation"><a href="#">Price:Lowest first</a></li>
                                <li role="presentation"><a href="#">Price:HIghest first</a></li>
                                <li role="presentation"><a href="#">Product Name:A to Z</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.fld -->
                </div>
                <!-- /.lbl-cnt -->
            </div>
            <!-- /.col -->
            <div class="col col-sm-6 col-md-6 no-padding hidden-sm hidden-md">
                <div class="lbl-cnt">
                    <span class="lbl">Show</span>
                    <div class="fld inline">
                        <div class="dropdown dropdown-small dropdown-med dropdown-white inline">
                            <button data-toggle="dropdown" type="button" class="btn dropdown-toggle">
                                1 <span class="caret"></span>
                            </button>
                            <ul role="menu" class="dropdown-menu">
                                <li role="presentation"><a href="#">1</a></li>
                                <li role="presentation"><a href="#">2</a></li>
                                <li role="presentation"><a href="#">3</a></li>
                                <li role="presentation"><a href="#">4</a></li>
                                <li role="presentation"><a href="#">5</a></li>
                                <li role="presentation"><a href="#">6</a></li>
                                <li role="presentation"><a href="#">7</a></li>
                                <li role="presentation"><a href="#">8</a></li>
                                <li role="presentation"><a href="#">9</a></li>
                                <li role="presentation"><a href="#">10</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.fld -->
                </div>
                <!-- /.lbl-cnt -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.col -->
        <div class="col col-sm-6 col-md-4 col-xs-6 col-lg-4 text-right">
            <div class="pagination-container">
                <ul class="list-inline list-unstyled">
                    <li class="prev"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li class="next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
                <!-- /.list-inline -->
            </div>
            <!-- /.pagination-container -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>